stages:
  - lint
  - build
  - release

mega-linter:
  stage: lint
  image: megalinter/megalinter:v5@sha256:463763d4a2aa0bf9e0b51663377201ead8c17a0b8e015c9a2c979099366cf868
  tags:
    - docker
    - linux
  script: ["true"]
  variables:
    # All available variables are described in documentation
    # https://megalinter.github.io/configuration/
    DEFAULT_WORKSPACE: $CI_PROJECT_DIR
  artifacts:
    when: always
    paths:
      - report
    expire_in: 1 week
  except:
    - main
    - tags

docker-build:
  stage: build
  image: docker:latest@sha256:d97a9d557c8501257b90f220b2b0ff8974117524b15b45244a910855e40fab66
  tags:
    - docker
    - linux
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - echo "Running on branch $CI_COMMIT_BRANCH with tag = $CI_COMMIT_SHORT_SHA"
    - docker build --no-cache -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - echo "Pushing image '$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA' to gitlab registry"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
  except:
    - main
    - tags

semantic-release:
  stage: release
  image: tcwlab/semantic-release:latest@sha256:61bcf94c8d792dacaedeaa9f8a18fb97ae1abbfb94d89efb743de3b5afbbdd5d
  tags:
    - docker
    - linux
  script:
    - semantic-release
  only:
    refs:
      - main
  except:
    - tags
