stages:
  - lint
  - build
  - test
  - release
  - publish

mega-linter:
  stage: lint
  image: oxsecurity/megalinter:v9@sha256:ed944524cb36342a3693f5297ab92aef7188beff0a20a396fe9e90b4dcbbacfb
  tags:
    - docker
    - linux
  script: ["true"]
  variables:
    # All available variables are described in documentation
    # https://megalinter.io/latest/configuration/
    DEFAULT_WORKSPACE: $CI_PROJECT_DIR
  artifacts:
    when: always
    paths:
      - report
    expire_in: 1 week
  allow_failure: true
  except:
    - main
    - tags

docker-build:
  stage: build
  image: docker:latest@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  tags:
    - docker
    - linux
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - echo "Running on branch $CI_COMMIT_BRANCH with tag = $CI_COMMIT_SHORT_SHA"
    - docker buildx build --no-cache --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA --platform linux/amd64,linux/arm64 --sbom=true --provenance=true .
    - echo "Pushing image '$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA' to docker registry"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
  except:
    - tags

validate-image:
  stage: test
  image: tcwlab/dgoss:1
  tags:
    - docker
    - linux
  variables:
    GOSS_FILES_PATH: goss
    GOSS_FILES_STRATEGY: cp
    KUBE_CONFIG_B64: "YXBpVmVyc2lvbjogdjEKa2luZDogQ29uZmlnCmNsdXN0ZXJzOiBbXQp1c2VyczogW10KY29udGV4dHM6IFtdCmN1cnJlbnQtY29udGV4dDogJycK"
  script:
    - dgoss run -e KUBE_CONFIG_B64 -it $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA /bin/bash
  except:
    - main
    - tags

semantic-release:
  stage: release
  image: tcwlab/semantic-release:1
  tags:
    - docker
    - linux
  script:
    - semantic-release
  artifacts:
    paths:
      - .NEXT_RELEASE_VERSION
    expire_in: 2 hours
  only:
    refs:
      - main
  except:
    - tags

docker-push:
  stage: publish
  image: docker:latest@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  tags:
    - docker
    - linux
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$DOCKERHUB_CI_REGISTRY_USER" -p "$DOCKERHUB_CI_REGISTRY_PASSWORD" $DOCKERHUB_CI_REGISTRY
  script: |
          if [ -e .NEXT_RELEASE_VERSION ]
          then
            SEMANTIC_VERSION=$(cat .NEXT_RELEASE_VERSION)
            SEMANTIC_VERSION_MAJOR=$(echo $SEMANTIC_VERSION | cut -d '.' -f1)
            SEMANTIC_VERSION_MINOR=$(echo $SEMANTIC_VERSION | cut -d '.' -f2)
            SEMANTIC_SHORTVERSION=$SEMANTIC_VERSION_MAJOR.$SEMANTIC_VERSION_MINOR
            echo "Running on branch $CI_COMMIT_BRANCH with tag = $CI_COMMIT_SHORT_SHA"
            docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
            echo "Tag image '$DOCKERHUB_CI_REGISTRY_IMAGE:$DOCKERHUB_CI_COMMIT_SHORT_SHA' with sematic version"
            docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$DOCKERHUB_CI_REGISTRY_IMAGE:$SEMANTIC_VERSION"
            docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$DOCKERHUB_CI_REGISTRY_IMAGE:$SEMANTIC_SHORTVERSION"
            docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$DOCKERHUB_CI_REGISTRY_IMAGE:$SEMANTIC_VERSION_MAJOR"
            docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$DOCKERHUB_CI_REGISTRY_IMAGE:latest"
            echo "Push images '$DOCKERHUB_CI_REGISTRY_IMAGE:$SEMANTIC_VERSION*' to DockerHub"
            docker push "$DOCKERHUB_CI_REGISTRY_IMAGE:$SEMANTIC_VERSION"
            docker push "$DOCKERHUB_CI_REGISTRY_IMAGE:$SEMANTIC_SHORTVERSION"
            docker push "$DOCKERHUB_CI_REGISTRY_IMAGE:$SEMANTIC_VERSION_MAJOR"
            docker push "$DOCKERHUB_CI_REGISTRY_IMAGE:latest"
          else
            echo no docker release executed
          fi
  only:
    refs:
      - main
  except:
    - tags
