stages:
  - lint
  - build
  - release

mega-linter:
  stage: lint
  image: oxsecurity/megalinter:v9@sha256:b38439f4563ac9400cd9e1833b428848f66bb0a0f1c531506a701479b80ded24
  tags:
    - docker
    - linux
  script: ["true"]
  variables:
    # All available variables are described in documentation
    # https://megalinter.io/latest/configuration/
    DEFAULT_WORKSPACE: $CI_PROJECT_DIR
  artifacts:
    when: always
    paths:
      - report
    expire_in: 1 week
  except:
    - main
    - tags

docker-build:
  stage: build
  image: docker:latest@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  tags:
    - docker
    - linux
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - echo "Running on branch $CI_COMMIT_BRANCH with tag = $CI_COMMIT_SHORT_SHA"
    - docker build --no-cache -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - echo "Pushing image '$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA' to gitlab registry"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
  except:
    - main
    - tags

semantic-release:
  stage: release
  image: tcwlab/semantic-release:1
  tags:
    - docker
    - linux
  script:
    - semantic-release
  only:
    refs:
      - main
  except:
    - tags
