stages:
  - lint
  - build
  - release

mega-linter:
  stage: lint
  image: oxsecurity/megalinter:v9@sha256:b38439f4563ac9400cd9e1833b428848f66bb0a0f1c531506a701479b80ded24
  tags:
    - docker
    - linux
  script: ["true"]
  variables:
    # All available variables are described in documentation
    # https://megalinter.io/latest/configuration/
    DEFAULT_WORKSPACE: $CI_PROJECT_DIR
  artifacts:
    when: always
    paths:
      - report
    expire_in: 1 week
  except:
    - main
    - tags

docker-build:
  stage: build
  image: docker:latest@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  tags:
    - docker
    - linux
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - echo "Running on branch $CI_COMMIT_BRANCH with tag = $CI_COMMIT_SHORT_SHA"
    - docker buildx build --no-cache --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA --platform linux/amd64,linux/arm64 --sbom=true --provenance=true .
    - echo "Pushing image '$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA' to docker registry"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
  except:
    - main
    - tags

docker-push:
  stage: release
  image: docker:latest@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  tags:
    - docker
    - linux
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script: |
          SEMANTIC_VERSION=$(CI_COMMIT_TAG | cut -d 'v' -f2)
          SEMANTIC_VERSION_MAJOR=$(echo $SEMANTIC_VERSION | cut -d '.' -f1)
          SEMANTIC_VERSION_MINOR=$(echo $SEMANTIC_VERSION | cut -d '.' -f2)
          SEMANTIC_SHORTVERSION=$SEMANTIC_VERSION_MAJOR.$SEMANTIC_VERSION_MINOR
          echo "Running on branch $CI_COMMIT_BRANCH with tag = $CI_COMMIT_SHORT_SHA"
          docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
          echo "Pushing image '$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA' to docker registry"
          docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:$SEMANTIC_VERSION"
          docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:$SEMANTIC_SHORTVERSION"
          docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:$SEMANTIC_VERSION_MAJOR"
          docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:latest"
          docker push "$CI_REGISTRY_IMAGE:$SEMANTIC_VERSION"
          docker push "$CI_REGISTRY_IMAGE:$SEMANTIC_SHORTVERSION"
          docker push "$CI_REGISTRY_IMAGE:$SEMANTIC_VERSION_MAJOR"
          docker push "$CI_REGISTRY_IMAGE:latest"
  only:
    - main
    - tags

semantic-release:
  stage: release
  image: tcwlab/semantic-release:1
  tags:
    - docker
    - linux
  script:
    - semantic-release
  only:
    refs:
      - main
  except:
    - tags
